[submodule "libs/crypto3"]
	path = libs/crypto3
	url = ../../NilFoundation/crypto3.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../BoostCMake/cmake_modules.git
[submodule "libs/stdlib"]
	path = libs/stdlib
	url = ../../NilFoundation/zkllvm-stdlib.git
